* {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite GB S';
    font-style: none;
    font-weight: 400;
    color: #ff9494;
}
body {
    height: 600px;
    background-color: #fff5e4;
}
.homepage-layout, .structure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.structure b {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.button-section {
    margin-bottom: 20px;
}
.button {
    border: none;
    border-radius: 10px;
    background-color: #ffe3e1;
    width: 200px;
    height: 50px;
    font-size: 14px;
    transition: background-color 400ms;
}
#yes {
    color: #ff7777;
    width: 100px;
    margin-right: 40px;
    transition: width, height, font-size 300ms;
}
.button:hover {
    background-color: rgb(250, 135, 135);
    color: #ffe3e1;
}
.gif-container img {
    height: 400px;
}

/*thankyou.html from here*/
.structure {
    margin-top: 20px;
}

/*date.html from here*/
#date-input {
    border: none;
    border-radius: 10px;
    background-color: #ffe3e1;
    padding: 5px 10px;
}
#date-button {
    border: none;
    border-radius: 10px;
    background-color: #ffe3e1;
    padding: 5px 15px;
    font-size: 14px;
    margin-left: 30px;
    transition: background-color 400ms;
}
#date-button:hover {
    background-color: rgb(250, 135, 135);;
    color: #ffe3e1;
}

#submitting{
    display: block;
    margin: 10px 0 0 20px;
}

.submitting span {
    animation: dots 1.5s infinite;
}

.submitting span:nth-child(1) {
    animation-delay: 0s;
}

.submitting span:nth-child(2) {
    animation-delay: 0.2s;
}

.submitting span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dots {
    0%, 20% {
        opacity: 0.2;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-5px);
    }
    100% {
        opacity: 0.2;
        transform: translateY(0);
    }
}


/*food.html from here*/
.checkbox-group, .dessert-checkbox-group, .activities-checkbox-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    row-gap: 30px;
    margin-bottom: 30px;
}
.checkbox-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image img{
    width: 200px;
    border-radius: 50%;
}
.image {
    padding: 10px 10px 3px 10px; /* Spacing between the image and the border */
    border: 5px solid #f39999; /* Thick border outside the image */
    border-radius: 50%;
}
.checkbox-item label {
    display: block;
}
#food-button, #dessert-button {
    
    border: none;
    border-radius: 10px;
    background-color: #ffe3e1;
    padding: 5px 50px;
    font-size: 18px;
    transition: background-color 400ms;
    display: block;
    margin: 0 auto;
    
    
    
}
#food-button:hover, #dessert-button:hover{
    background-color: rgb(250, 135, 135);;
    color: #ffe3e1;
}

/*dessert.html from here*/
.dessert-checkbox-group, .activities-checkbox-group {
    grid-template-columns: auto auto auto;
}